* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    ui-sans-serif;
  line-height: 1.15;
}

html,
body {
  background-color: #222425;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
}

header,
main {
  color: #e7e6e5;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 800;
  font-size: 2.75em;

  text-decoration: underline;

  margin-top: 15px;
}

main {
  margin-top: 25px;

  padding-bottom: 50px;

  gap: 30px;
}

.player-board,
.cpu-board {
  display: grid;
  grid-template-columns: repeat(10, minmax(20px, 1fr));

  justify-self: center;
}

.coordinate {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  padding: 20px;
  border: 1px solid #dedcd9;
}

.coordinate:hover {
  background-color: #dedcd957;
}

.player-name {
  font-size: 1.3em;

  margin-bottom: -15px;
}

@media only screen and (max-width: 600px) {
  .coordinate {
    padding: 15px;
  }
}
